.photo {
    grid-column: 2 / span 2;
    display: flex;
    align-items: flex-start;
    padding: 3% 0;
}

.photo img {
    max-width: 100%;
    object-fit: contain;
    border: 6px solid white;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.description {
    grid-column: 4 / span 4;
}

.remainder {
    grid-column: 8 / span 5;
}

@media screen and (max-width: 900px) {
    .photo {
        justify-items: flex-start;
        width: 100px;
    }
    .remainder {
        display: none;
    }
  }